.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
